$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.microsoft {
  &-btn {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 300px;
    border: none;
    background-color: #fff;
    font-family: "Roboto";
    margin-right: 10px;
    &:hover {
      box-shadow: 0 0 6px $google-blue;
    }
  }

  &--btn-position {
    top: 0.125em;
    position: relative;
    margin-right: 10px;
  }
}
