{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "import/order": [
      2,
      {
        "groups": [
          "external",
          "builtin",
          "internal",
          "sibling",
          "parent",
          "index"
        ]
      }
    ],
    "quotes": [1, "double", { "avoidEscape": true }],
    "import/extensions": "off",
    "import/no-unresolved": "off"
    // "import/no-unresolved": [2, { "caseSensitiveStrict": true }]
    // "import/extensions": [
    //   "error",
    //   "ignorePackages",
    //   {
    //     "ts": "never"
    //   }
    // ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
        // "moduleDirectory": ["node_modules", "routes/*"]
        // "paths": ["."]
        // "routes": ["routes", "./routes"]
        // "routes": "./routes"
      }
    }
  },
  "ignorePatterns": ["/db/config/*", "/db/migrations/*"]
}
